<template>
    <div class="app">
        <r3-header></r3-header>

        <div class="content">
            <zoom-center-transition mode="out-in">
                <router-view></router-view>
            </zoom-center-transition>
        </div>

        <div class="creator-tag">
            <p>Made with <span style="color: red">&#10084;</span> by</p>
            <a href="https://gitlab.com/R3mb0">R3mb0</a>
        </div>
    </div>
</template>

<script>
    import header from './components/Header.vue';

    export default {

        components: {
            'r3-header': header
        }

    }

</script>

<style lang="scss">
    @import "../sass/app.scss";

    *, *::before, *::after {
        box-sizing: border-box;
    }

    html, body {
        font-family: "Source Sans Pro", sans-serif;
        min-height: 100%;
        width: 100%;

        background-color: $color-primary;
    }

    #app {
        height: 100%;
    }

    .content {
        margin-top: 60px;
        padding: 1rem;
    }

    .creator-tag {
        width: 100%;
        text-align: center;

        padding: 1rem;

        position: absolute;
        height: 70px;

        bottom: 0;

        background-color: #651BEC;

        justify-self: end;

        p {
            padding: 0;
            margin: 0 0 .2rem;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }
</style>
