<template>
    <div class="home row center-xs">
        <zoom-center-transition mode="out-in">
            <div class="menu col-md-6 col-xs-10" v-if="game_state === 'menu'" key="menu">
                <div class="menu__btn" @click="game_state = 'ingame'">Spiel Starten</div>
            </div>

            <div class="ingame col-md-6 col-xs-12" v-if="game_state === 'ingame' || game_state === 'next'" key="ingame">
                <div class="card">
                    <div class="card__title">Frage</div>
                    <div class="row card__content">
                        <div class="question">
                            {{ current_question.question }}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__title">Anworten</div>
                    <div class="answer" :style="{ backgroundColor: '#FF5353' }" style="color: white" @click="chooseAnswer(1)">{{ current_question.answer_1 }}</div>
                    <div class="answer" :style="{ backgroundColor: '#7DFFF6' }" style="color: black" @click="chooseAnswer(2)">{{ current_question.answer_2 }}</div>
                </div>

                <zoom-center-transition>
                    <div class="menu" v-if="game_state === 'next'" key="menu">
                        <div class="menu__btn" @click="pickQuestion()">Weiter</div>
                    </div>
                </zoom-center-transition>
            </div>
        </zoom-center-transition>
    </div>
</template>

<script>
    import smoothReflow from 'vue-smooth-reflow';

    export default {
        watch: {
          game_state: {
              immediate: true,
              handler: function (state) {
                  if (state === 'ingame') {
                      this.pickQuestion();
                  }
              }
          }
        },
        created() {
            this.loadQuestions();
        },
        mounted(){
            this.$smoothReflow({
                el: '.card__content'
            })
        },
        mixins: [smoothReflow],
        methods: {
            loadQuestions() {
                this.$http.get('api/questions').then(res => {
                   this.questions = res.data.data;
                });
            },
            chooseAnswer(answer) {
                if(this.game_state === 'next')
                    return;

                this.$http.put(`api/question/${this.current_question.id}/pick`, {
                    answer: answer
                }).catch(err => {
                    console.log(err);
                });

                this.game_state = 'next';
            },
            pickQuestion() {
                let questions = this.questions.filter(el => {
                   return !this.used_questions.includes(el);
                });

                if(questions.length === 0) {
                    questions = [...this.questions];
                    this.used_questions = [];
                }

                this.current_question = questions[this.getRandomInt(questions.length -1)];

                this.used_questions.push(this.current_question);

                this.game_state = 'ingame';
            },
            getRandomInt(max) {
                return Math.floor(Math.random() * Math.floor(max));
            },
            getRandomRGBColor() {
                const randomR = this.getRandomInt(200);
                const randomG = this.getRandomInt(200);
                const randomB = this.getRandomInt(200);

                return `rgb(${randomR}, ${randomG}, ${randomG})`;
            }
        },
        data() {
            return {
                game_state: 'menu',
                current_question: {},
                used_questions: [],
                questions: []
            }
        }

    }
</script>

<style lang="scss">
    @import "../../sass/app.scss";

    button {
       border: solid white 2px;

        padding: .5rem 2rem;

        background-color: transparent;

        cursor: pointer;

        font-size: 3rem;

        color: white;
    }

    .menu {
        height: 100%;

        .menu__btn {

            padding: 2rem;

            background-color: white;

            color: $color-primary;

            box-shadow: $box-shadow;

            font-size: 3rem;

            cursor: pointer;

            transition: transform .1s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .home {
        display: flex;
        min-height: 100%;

        justify-content: center;
        align-items: center;
    }

    .question {
        font-size: 1.5rem;
        text-align: left;

        color: $color-primary;

        padding: .2rem;
    }

    .answer {
        padding: 2rem 1rem;
        font-size: 2rem;

        cursor: pointer;

        position: relative;


    }

    .card {
        margin-bottom: 1rem;

        box-shadow: $box-shadow;

        overflow: hidden;

        background-color: white;

        .card__content {
            padding: 1rem;
        }

        .card__title {
            z-index: 99;

            width: 100%;

            padding: .7rem;
            box-shadow: $box-shadow;

            text-align: left;

            font-weight: normal;

            font-size: 1.2rem;
        }
    }
</style>
