<template>
    <div class="submit">

        <div class="row center-xs">
            <div class="col-md-6 col-xs-12">
                <div class="card">
                    <div class="card__title">Frage Einsenden</div>

                    <div class="card__label">

                    </div>

                    <form class="card__content row">
                        <label class="col-xs-12">
                            Frage
                            <input type="text" placeholder="Hättest du lieber..." required v-model="question">
                        </label>
                        <label class="col-xs-12">
                            Anwort 1
                            <input type="text" placeholder="Ein Haus" required v-model="answer_1">
                        </label>
                        <label class="col-xs-12">
                            Anwort 2
                            <input type="text" placeholder="Ein Auto" required v-model="answer_2">
                        </label>

                        <div class="col-xs-12">
                            <div class="btn" :class="{ 'success' : isFormValid, 'fail' : !isFormValid }" @click="submitQuestion">Einsenden</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                question: '',
                answer_1: '',
                answer_2: ''
            }
        },
        computed: {
          isFormValid() {
              return this.question && this.answer_1 && this.answer_2;
          }
        },
        methods: {
            submitQuestion() {
                if(!this.isFormValid) return;

                this.$http.post('api/question', {
                    question: this.question,
                    answer_1: this.answer_2,
                    answer_2: this.answer_1
                }).then(() => {
                    this.question = '';
                    this.answer_2 = '';
                    this.answer_1 = '';
                }).catch(err => {
                    console.log(err);
                });
            }
        }
    }

</script>

<style lang="scss" scoped>
    @import "../../sass/app.scss";

    label {
        width: 100%;

        padding: .5rem;

        color: #9F9F9F;

        text-align: left;
    }

    input {
        border: none;
        width: 100%;

        padding: 1rem;

        margin-top: .4rem;

        font-weight: bold;

        box-shadow: $box-shadow;
    }

    .btn {
        margin-top: .4rem;

        display: inline-block;

        box-shadow: $box-shadow;

        padding: 0.5rem 1.4rem;

        color: white;

        font-size: 1.5rem;

        cursor: pointer;

        transition: transform .1s ease;

        &.success {
            background-color: #48FF67;
        }

        &.fail {
            background-color: #FF4848;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .card {
        margin-bottom: 1rem;

        box-shadow: $box-shadow;

        overflow: hidden;

        background-color: white;


        .card__title {
            z-index: 99;

            width: 100%;

            padding: .7rem;
            box-shadow: $box-shadow;

            text-align: left;

            font-weight: normal;

            font-size: 1.2rem;
        }
    }
</style>
