<template>

    <div class="validate row center-xs">

        <div class="login col-md-4 col-xs-12" key="login">
            <div class="card">
                <div class="card__title">Login</div>
                <form class="card__content row">
                    <label class="col-xs-12">
                        Email
                        <input type="text" placeholder="email@web.de" required v-model="email">
                    </label>
                    <label class="col-xs-12">
                        Passwort
                        <input type="password" placeholder="Passwort" required v-model="password">
                    </label>

                    <div class="col-xs-12">
                        <div class="btn" :class="{ 'success' : isFormValid, 'fail' : !isFormValid }" @click="submitQuestion">Login</div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
       data() {
           return {
               email: '',
               password: ''
           }
       },
        methods: {
           isFormValid() {
               return this.email && this.password;
           },
            login() {
            }
        }
    }
</script>

<style lang="scss" scoped>
@import "../../sass/app.scss";


.card {
    margin-bottom: 1rem;

    box-shadow: $box-shadow;

    overflow: hidden;

    background-color: white;

    .card__content {
        padding: 1rem;
    }

    .card__title {
        z-index: 99;

        width: 100%;

        padding: .7rem;
        box-shadow: $box-shadow;

        text-align: left;

        font-weight: normal;

        font-size: 1.2rem;
    }
}

.btn {
    margin-top: .4rem;

    display: inline-block;

    box-shadow: $box-shadow;

    padding: 0.5rem 1.4rem;

    color: white;

    font-size: 1.5rem;

    cursor: pointer;

    transition: transform .1s ease;

    &.success {
        background-color: #48FF67;
    }

    &.fail {
        background-color: #FF4848;
    }

    &:hover {
        transform: scale(1.1);
    }
}

label {
    width: 100%;

    padding: .5rem;

    color: #9F9F9F;

    text-align: left;
}

input {
    border: none;
    width: 100%;

    padding: 1rem;

    margin-top: .4rem;

    font-weight: bold;

    box-shadow: $box-shadow;
}
</style>
