<template>
    <div class="header">
        <h1 class="title"><router-link to="/">Entscheide dich!</router-link></h1>

        <div
            class="hamburger"
            :class="{'nav-open' : isNavOpen }"
            @click="isNavOpen = !isNavOpen"
        >
            <div />
            <div />
            <div />
        </div>

        <slide-x-left-transition>
            <div class="nav" v-if="isNavOpen">
                <div class="nav__item" @click="isNavOpen = !isNavOpen">
                    <router-link to="/submit" >Frage Einschicken</router-link>
                </div>
            </div>
        </slide-x-left-transition>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isNavOpen: false
            }
        }
    }
</script>

<style lang="scss">
@import "../../sass/app.scss";

.title {
    padding: 1rem;
    margin: 0;

    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: $color-primary;

    overflow: hidden;

    transition: max-width .2s ease;

    display: flex;
    align-items: center;

    .nav__item {
        padding: 1rem;

        color: white;

        font-size: 1.2rem;
    }
}

.header {
    position: fixed;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    width: 100%;
    height: 60px;

    top: 0;
    left: 0;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: white;
}

.hamburger {
    z-index: 10;

    height: 25px;
    width: 40px;

    margin: 1rem;

    cursor: pointer;
    display: flex;

    justify-content: space-between;

    flex-direction: column;

    &.nav-open div {
        background-color: white;
    }

    div:first-child {
        width: 70%;
    }

    div {
        height: 4px;
        width: 100%;
        border-radius: 2rem;

        background-color: #E6D43D;
    }
}
</style>
